#header{
    background: linear-gradient(to button, blue, white);
}
nav{
    background: linear-gradient(to rigth, blue, white);
}
#content{
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 150px;
    position: center;
    width: 200;
    height: 300;
    background-color: darkgray;
}
h1{
    color: darkblue;
}
p{
    color: white;
    font-size: 18px;
}
