.content{
margin: 0 auto;
    width: 500px;
    background-color: grey;
    flex-direction: column;
    color: white;
}
.box1{
    margin-left: 70%;
    height: 150px;
    width: 150px;
    font-size: 50px;
    background-color: red;
     }
.box2{
    margin-left: 70%;
    height: 150px;
    width: 150px;
    font-size: 50px;
    background-color: blue;
}
.box3{
    margin-left: 70%;
    height: 150px;
    width: 150px;
    font-size: 50px;
    background-color: green;
}
